// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// Variables
$accent: #f0145a;
$active-regular: #24a3ff;
$basic-white: #fff;
$gradient-supersoft: linear-gradient(
	229deg,
	#323264 11.93%,
	#323264 57.17%,
	#643e72 87.46%
);
$gradient-red-text: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
$gradient-text-red-reversed: linear-gradient(
	90deg,
	#ef8080 0.84%,
	#f0145a 99.96%
);
$grey-text: #b3b3ba;
$grey-bg: #f5f5fa;
$main-regular: #323264;
$basic-black: #000;
$main-alt: #46466e;

// Reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

button {
	display: block;
	outline: none;
	cursor: pointer;
}

img {
	display: block;
}

body {
	font-family: "Montserrat", sans-serif;
	color: $basic-white;
	font-weight: 400;
}

.bg-wrapper {
	position: relative;
	background: $gradient-supersoft;
	border-radius: 0 0 12px 12px;
	&::after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -20px;
		content: "";
		height: 20px;
	}
	@media (min-width: 1920px) {
		&::after {
			background: url("./images/bg-wrapper-1.svg") no-repeat;
			background-size: 100%;
		}
	}
	@media (max-width: 1920px) {
		&::after {
			background: url("./images/bg-wrapper-1.svg") no-repeat;
			background-size: 100%;
		}
	}
	@media (max-width: 1440px) {
		&::after {
			background: url("./images/bg-wrapper.svg") no-repeat;
			background-size: 100%;
		}
	}
	@media (max-width: 1024px) {
		&::after {
			background: url("./images/bg-wrapper-2.svg") no-repeat;
			background-size: 100%;
		}
	}
	@media (max-width: 768px) {
		&::after {
			background: url("./images/bg-wrapper-3.svg") no-repeat;
			background-size: 100% 100%;
		}
	}
}

.container {
	padding: 0 20px;
	margin: 0 auto;
}

@media (min-width: 1920px) {
	.container {
		max-width: 1640px;
	}
}

@media (max-width: 1920px) {
	.container {
		max-width: 1360px;
	}
}

@media (max-width: 1440px) {
	.container {
		max-width: 944px;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 688px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
		padding: 0;
	}
}
